body {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    background-position: right bottom;
}

.reveal h1 {
    color: #ef8b35;
    text-shadow: none;
}

.reveal section img {
    border: none;
    background: none;
    box-shadow: none;
}

.reveal pre {
    box-shadow: none;
}